name: Gram Altın Takip

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Python kurulumu
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Paketleri kur
        run: pip install -r requirements.txt

      - name: Scripti çalıştır
        env:
          GOOGLE_JSON: ${{ secrets.GOOGLE_JSON }}
        run: python gram_altin_sheets.py
